@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #323232;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(253, 171, 185);
}

.navbar{
  width: calc(100% - 20px);
  display: flex;
  padding: 5px 20px;
  align-items: center;
  height: 50px;
  /* background-color: #ccc; */
  justify-content: space-between;
}

.navbar ul{
  list-style: none;
  display: flex;
  gap: 5px;
}

.navbar ul li{
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar ul li:hover{
  background-color: #fff;
}

/* error panel */
.error-container{
  padding: 20px;
}